{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    
    
    
    {% include head-custom.html %}
  
  
    
      
        <a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}

        {% if site.logo %}
          
        {% endif %}

        {{ site.description | default: site.github.project_tagline }}

        {% if site.github.is_project_page %}
        View the Project on GitHub {{ site.github.repository_nwo }}
        {% endif %}

        {% if site.github.is_user_page %}
        View My GitHub Profile
        {% endif %}

        {% if site.show_downloads %}
        
          Download ZIP File
          Download TAR Ball
          View On GitHub
        
        {% endif %}
      
      

      {{ content }}

      
      
        {% if site.github.is_project_page %}
        This project is maintained by {{ site.github.owner_name }}
        {% endif %}
        Theme modified from minimal
      
    
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}">
